@media only screen and (min-width: 700px) {
    .tableWidth{
       width: 60%;
       margin: auto;
       padding: 40px;

    }
}    
    @media only screen and (max-width: 700px) {
        .tableWidth{
            width: 95%;
            margin: auto;
            padding-top: 20px;
         }
         
         
    }

