<h1 style="text-align: center">Server is working...</h1>

<ul style="text-align: center; list-style-type:none">
    <li><a href="http://localhost:8000/admin/"> Admin Panel</a></li>
    <li><a href="http://localhost:8000/api/cities"> Cities </a></li>
    <li><a href="http://localhost:8000/api/hotels"> Hotels </a></li>
</ul>


